<footer class="footer">
<div class="content has-text-centered">
    <p>

    <strong class="mr-3">
        Thoughts
        <span class="icon">
            <i class="far fa-comment-dots"></i>
        <span>
    </strong> 

    <span>
        |
    </span>

    <span class="ml-3">
        <i class="far fa-copyright"></i> <%= Time.new.year %>
    </span>

    </p>
</div>
</footer>