<% if instance.present? and instance.errors.present? %>

<div class="container">
<section class="hero is-small is-danger">
<div class="hero-body">

    <ul>
        <% parse_errors(instance.errors).each do |field, error| %>
            <li><b><%= field %></b> <%= error %></li>
        <% end %>
    </ul>

</div>
</section>
</div>

<% end %>