<% if instance.present? and instance.errors.present? %>

<div class="container">
<section class="hero is-small is-danger">
<div class="hero-body">

    <ul>
        <% instance.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
    </ul>

</div>
</section>
</div>

<% end %>