<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <%= link_to root_path, class: "navbar-item" do %>
            <b>Speak</b>
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Discover
                </a>

                <div class="navbar-dropdown">

                    <%= link_to :Articles, articles_path, class: "navbar-item" %>

                    <hr class="navbar-divider">

                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a class="button is-primary">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                    Log in
                </a>
                </div>
            </div>
        </div>
    </div>
</nav>