
<nav class="navbar">
<div class="container">

    <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
            <b>Thoughts</b>
            <span class="icon">
                <i class="far fa-comment-dots"></i>
            <span>
        <% end %>

        <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>

    <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">

        <div class="dropdown navbar-item is-hoverable">
            <div class="dropdown-trigger">
                <button class="button is-size-5 has-text-weight-semibold" aria-haspopup="true" aria-controls="dropdown-menu4" style="border: none">
                    <span>Discover</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                <div class="dropdown-item">

                    <%= link_to :Articles, articles_path, class: "navbar-item" %>
                    
                </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    
</div>
</nav>