
<nav class="navbar">
<div class="container">

    <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
            <b>Thoughts</b>
            <span class="icon">
                <i class="far fa-comment-dots"></i>
            <span>
        <% end %>

        <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>

    <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">

        <%= link_to :Articles, articles_path, class: "navbar-item is-size-5 has-text-weight-semibold" %>

    </div>
    </div>
    
</div>
</nav>