.textarea-custom {
    min-height: 300px !important;
}

.form-left {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-left img {
    width: 80%;
    height: auto;
}