.article-index-item:hover {
    background-color: #fafafa !important;
}

a.button-create-article {
  border-radius: 50px;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

a.button-create-article:hover {
  animation: spin 500ms ease-in-out;
}