.banner-custom {
    background-attachment: fixed;
    background-size: cover;
    background-image: image-url("banner1.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}